html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 70vh;
  max-height: 100%;
  width: 100%;
}

.side {
  align-items: center;
  background-image: url(/images/background.jpg);
  background-size: cover;
  flex: 1 1 300px;
  flex-flow: column wrap;
  justify-content: space-between;
}
.side #title {
  background-color: rgba(0, 0, 0, 0.521);
  color: white;
  height: max-content;
  width: 100%;
  margin: 25vh 0;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  flex: 0;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.side #title h1 {
  font-size: 2rem;
}
.side #title img {
  width: 60px;
}
.side p,
.side a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.75rem;
  margin: 10px 0;
}

.form-section {
  background-color: rgb(247, 247, 247);
  align-items: left;
  display: flex;
  flex: 2 2 400px;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.form-section p {
  color: darkslategrey;
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 4%;
  width: min(650px, 90%);
}
.form-section p:first-of-type {
  margin-top: 5%;
}
.form-section form {
  display: flex;
  flex: 0;
  flex-flow: column nowrap;
}
.form-section form #input-container {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
  padding: 2% 4%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, min(350px, 48%));
  grid-template-rows: repeat(5, max(50px, 20%));
  grid-column-gap: -30px;
  grid-row-gap: 5px;
}
.form-section form #input-container label,
.form-section form #input-container input {
  display: block;
  width: 90%;
}
.form-section form #input-container label {
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.form-section form #input-container input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  height: 1.75rem;
  color: rgb(59, 59, 59);
  font-size: 1rem;
  font-weight: lighter;
}
.form-section form #input-container *:focus {
  outline: none;
  border: 2px solid rgb(166, 192, 243);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.304);
}
.form-section form #input-container :valid:focus:required {
  border: 2px solid green;
}
.form-section form #input-container :invalid:focus {
  border: 2px solid red;
}
.form-section form #input-container h2 {
  grid-area: 1/1;
  font-size: 1.2rem;
  font-weight: 100;
}
.form-section form #input-container p {
  grid-area: 1/2;
  color: rgb(149, 149, 149);
  font-size: 0.85rem;
  font-weight: 100;
}
.form-section form #input-container #first-name {
  grid-area: 2/1;
}
.form-section form #input-container #last-name {
  grid-area: 2/2;
}
.form-section form #input-container #email {
  grid-area: 3/1;
}
.form-section form #input-container #phone {
  grid-area: 3/2;
}
.form-section form #input-container #password {
  grid-area: 4/1;
}
.form-section form #input-container #conf-pass {
  grid-area: 4/2;
}
.form-section form #input-container #requirements {
  grid-row: 5;
  grid-column: span 2;
  font-size: 11px;
}
.form-section form button {
  background-color: rgb(67, 112, 66);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  margin: 20px 4%;
  height: 40px;
  width: 180px;
}
.form-section form button:hover {
  background-color: #396039;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.318);
  cursor: pointer;
}
.form-section form button:active {
  background-color: #264026;
}
.form-section #login, .form-section #login a {
  color: darkslategrey;
  font-size: 0.9rem;
  font-weight: 200;
}

footer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex: 0 1;
  gap: 6px;
  justify-content: center;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
}
footer #foot-info {
  color: rgb(66, 109, 72);
  font-size: 0.75rem;
  margin: 10px 0;
  text-align: center;
  width: max-content;
}
footer #foot-info a {
  color: rgb(66, 109, 72);
}
footer img {
  height: 1.2rem;
  width: auto;
}
footer a:hover {
  color: rgb(147, 227, 151);
  transition-duration: 250ms;
}
footer img:hover {
  transform: scale(1.15);
  transition-duration: 250ms;
}

/*# sourceMappingURL=style.css.map */
