html,
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex: 1;
    flex-flow: row wrap;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/images/background.png);
    background-size: cover;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 70vh;
    max-height: 100%;
    width: 100%;
}

.side {
    align-items: center;
    
    flex: 1 1 300px;
    flex-flow: column wrap;
    justify-content: space-between;

    #title {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        height: max-content;
        width: 100%;
        margin: 25vh 0;
        padding: 10px 0;

        display: flex;
        flex-flow: row wrap;
        flex: 0;
        align-items: center;
        gap: 0;
        justify-content: center;
        text-align: center;

        h1 {
            font-family: 'Tangerine', cursive;
            font-size: 7rem;    
            font-weight: 500;
            padding: 10px;
            margin: 0;
        }
        
        img {
            width: 80px;
        }
    }

    p, 
    a {
        color: rgb(255, 255, 255);
        font-size: 0.75rem;
        margin: 10px 0;
    }
}

.form-section {
    background-color: rgba(247, 247, 247, 0.9);

    align-items: left;
    display: flex;
    flex: 2 2 400px;
    flex-flow: column nowrap;
    justify-content: space-between;

    p {
        color: darkslategrey;
        font-size: max(1rem, 1.3rem);
        font-weight: bold;
        padding-left: 4%;
        width: min(650px, 90%);

    }

    p strong {
        text-decoration: underline;
    }

    p:first-of-type {
        margin-top: 5%;
        
    }
    p span {
        font-family: 'Tangerine', cursive;
        font-size: 3rem;
    }

    form {
        display: flex;
        flex: 0;
        flex-flow: column nowrap;

        #input-container {
            background-color: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
            padding: 2% 4%;
            height: max-content;

            display: grid;
            grid-template-columns: repeat(2, min(350px, 48%));
            grid-template-rows: repeat(5, max(50px, 20%));
            grid-column-gap: -30px;
            grid-row-gap: 5px;

            label,
            input {
                display: block;
                width: 90%;
            }

            label {
                color:rgb(100, 100, 100);
                font-size: 0.8rem;
                letter-spacing: 1px;
                margin-bottom: 2px;
                text-transform: uppercase;
            }

            input {
                border: 1px solid rgb(226, 226, 226);
                border-radius: 4px;
                height: 1.75rem;

                color: rgb(59, 59, 59);
                font-size: 1rem;
                font-weight: lighter;
            }

            *:focus {
                outline: none;
                border: 1px solid rgb(116, 116, 116);
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.304);
            }

            :valid:focus:required {
                box-shadow: 3px 3px 2px rgba(0, 128, 0, 0.6);
                
            }
        
            :invalid:focus {
                box-shadow: 3px 3px 2px rgba(255, 0, 0, 0.6);
             
            }

            h2 {
                grid-area: 1 / 1;

                font-size: 1.2rem;
                font-weight: 100;
            }

            p {
                grid-area: 1 / 2;
                
                color:rgb(149, 149, 149);
                font-size: 0.85rem;
                font-weight: 100;
            }

            #first-name {
                grid-area: 2 / 1;
            }

            #last-name {
                grid-area: 2 / 2;
            }
            
            #email {
                grid-area: 3 / 1;
            }

            #phone {
                grid-area: 3 / 2; 
            }
            
            #password {
                grid-area: 4 / 1;
            }

            #conf-pass {
                grid-area: 4 / 2;
            }

            #requirements {
                grid-row: 5;
                grid-column: span 2;
                
                font-size: 0.75rem;
            }

            ::placeholder {
                color: rgb(178, 178, 178);
                font-weight: lighter;
            }
        }

        button {
            background-color: rgb(48 80 65);
            border: none;
            border-radius: 5px;

            color: white;
            font-size: 0.9rem;
            margin: 20px 4%;
            height: 40px;
            width: 180px;
        }

        button:hover {
            background-color: darken(rgb(48 80 65), 5%);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.318);
            cursor: pointer;
        }

        button:active {
            background-color: darken(rgb(67, 112, 66), 15%);
        }
    }

    #login, #login a{
        color: darkslategrey;
        font-size: 0.9rem;
        font-weight: 200;
    }

}
footer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1;
    gap: 6px;
    justify-content: center;

    padding: 0;
    width: 100%;
    margin: 0 auto;

    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    
    #foot-info {
        color: rgb(105 148 104);
            font-size: 0.75rem;
            margin: 10px 0;
            text-align: center;
            width: max-content;

        a {
            color: rgb(105 148 104);
        }
        a:hover {
            color: darken(rgb(105, 148, 104), 10%);
        }
    }
    
    img {
        height: 1.2rem;
        width: auto;
    }

    a:hover {
        color: rgb(147, 227, 151);
        transition-duration: 250ms;
    }

    img:hover {
        transform: scale(1.15);
        transition-duration: 250ms;
    }
}

#success {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;

    text-align: center;
    margin-top: 25vh;
    
    h1,
    p,
    a {
        background-color: rgba(0, 0, 0, 0.607);
        color: white;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}