body{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.section {

}

.side {
    background-image: url(/images/background.jpg);
    background-size: cover;

    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: space-between;
    

    h1 {
        color: white;
        font-size: min(2rem, 3rem);

        display: flex;
        flex: 1;
        align-items: center;

        width: clamp(450px, 35%, 45%); /* Make sidebar fit 100% width for mobile*/

        img {
            width: min(100px, 200px);
        }
    }
}
